<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ElectionWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="./images/e2e-viv-24x24-1.png" height="24"/>E2E-VIV</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-info" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Home
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <ul>
                                    <li><a asp-area="" asp-page="/Home/InPerson">In Person</a></li>
                                    <li><a asp-area="" asp-page="/Home/MailIn">Mail In</a></li>
                                    <li><a asp-area="" asp-page="/Home/InternetVoting">Internet Voting</a></li>
                                    <li><a asp-area="" asp-page="/Home/Audit">Audit</a></li>
                                    <li><a asp-area="" asp-page="/Home/MitM">Man in the Middle</a></li>
                                    <li><a asp-area="" asp-page="/Home/DirectAttack">Direct Attack</a></li>
                                    <li><a asp-area="" asp-page="/Home/LessonsLearned">Lessons Learned</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-info" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Requirements
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <ul>
                                    <li><a href="https://github.com/Robotuner/E2E-VIV">GitHub Site</a></li>
                                    <li><a asp-area="" asp-page="/Requirements/Registration">Ballot</a></li>
                                    <li><a asp-area="" asp-page="/Requirements/VotingApp">Voting App</a></li>
                                    <li><a asp-area="" asp-page="/Requirements/Audit">Vote Counting Server</a></li>
                                </ul>                                            
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Misc/About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Misc/Donation">Donate</a>
                        </li>    
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <img src="./images/e2e-viv-24x24-1.png" height="18" />&copy; 2021 - E2E-VIV.org <a asp-page="/Index">Home</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
