@page
@model ElectionWebsite.Pages.Misc.AboutModel
@{
}


<div class="text-left">
    <h1>About E2E-VIV</h1>
    <p>
        The initiative is created by Leonard Kong, an independent software developer to provide an alternative to
        mail-in voting.  Mail-in voting has garnered much support because it touts accessibility.  The problem is
        that it exposes countless opportunities for fraud to solve a problem that benefits a relative small
        percentage of voters.  The RNC response appears to be one of damage control instead of addressing the
        issue with a better solution.
    </p>
    <p>
        Internet voting is a better solution.  The question is no longer if internet voting is more secure than
        in person voting, it is if internet voting can be made more secure that mail-in voting.
    </p>
    <p>
        This site seeks to develop verifiable open source code that can be reviewed and tested so that the
        community at large can decide.
    </p>
    <address>
        Leonard Kong<br>
        Engenious Systems, Inc.<br>
        <a href="mailto:lkong@engenious.com">lkong@engenious.com</a>
    </address>
</div>