@page
@model ElectionWebsite.Pages.Misc.AboutModel
@{
}


<div class="text-left">
    <h1>About E2E-VIV</h1>
    <p>
        The initiative is created by Leonard Kong, an independent software developer to provide an alternative to
        mail-in voting.  Mail-in voting has garnered much support because it touts accessibility.  The problem is
        that it exposes countless opportunities for fraud to solve a problem that benefits a relative small
        percentage of voters.  The RNC response appears to be one of damage control instead of addressing the
        issue with a better solution.
    </p>
    <p>
        Internet voting is a better solution.  The question is no longer if internet voting is more secure than
        in person voting, it is if <strong>internet voting can be made more secure that mail-in voting</strong>.
    </p>
    <p>
        This site seeks to develop verifiable open source code that can be reviewed and tested so that the
        community at large can decide.  The internet is full of organizations that simply state
        <a href="https://verifiedvoting">internet voting is not secure</a>, which may ultimately prove correct, but
        I don't know that.  The sites only make that statement, they do not back it up with code to demonstrate where
        it is insecure.  This site makes an argument that it is more secure than
        mail-in voting and backs it up with an open source prototype code to that it can be looked at and tested in the hopes
        that the weak points are identified and those specific areas where it is currently deemed unresolvably insecure
        are identified so that we can have a checklist towards certification.
    </p>
    <p>
        Currently, this is a one person endeavor, but I welcome all who can contribute.  E2E is end to end, the 
        knowledge set for a complete demonstration site will require the full range of technical competencies.  I 
        will need help with web servers, database server, UI (web and mobile), facial recognition, documentation.  
        The project touches everything.
    </p>
    <address>
        Leonard Kong<br>
        Engenious Systems, Inc.<br>
        <a href="mailto:lkong@engenious.com">lkong@engenious.com</a>
    </address>
</div>