@page
@model ElectionWebsite.Pages.Home.InPersonModel
@{
}

<div class="text-left">
    <h1>In-Person Voting</h1>
    <p>
        The reliability of in-person voting has never really been challenged.  There are many good reasons for this.  One
        of them is not that it is 100% secure and fool proof.  There are many methods where fraudulent votes can be counted
        when voting exclusively by in-person procedures, however, they are not scalable.
    </p>
    <p>
        The attack surface for in-person voting is fairly limited.
        <ol>
            <li>Fraudulent name in the registered voter poll book.</li>
            <li>Registered voter stealthily dropping multiple ballots into the ballot box.</li>
            <li>Ballots introduced in the ballot box in transport to counting location.</li>
            <li>Poll worker allowing individual to cast vote again even after signing the voter book.</li>
        </ol>
    </p>
    <p>
        With the exception of (3) none of these are scalable.  Even for (3) poll officials simply need to count ballots in the box
        after transport to the vote counting location to see if the total matches the expected total.  In this scenario,
        it would be discovered that there are more ballots than expected, but there is really no remedy as the
        fraudulent ballots are not discoverable.
    </p>
    <p>
        In-person voting also offers an additional benefit to States charged with registering voters.  Since dead people cannot
        vote in person nor can registered voters who have moved to another jurisdiction, States do not need to clean up
        their voter registration lists.
    </p>
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="../Index">< Prev</a>
            </div>
            <div class="col">
                <a href="./MailIn">Next ></a>
            </div>
        </div>
    </div>
</div>