@page
@model ElectionWebsite.Pages.Home.MailInModel
@{
}

<div class="text-left">
    <h1><img src="../../images/e2e-viv-70x70-1.png" />Mail-In Voting</h1>
    <p>
        Introduction of mail-in voting address the issue of accessibility.  Accessibility of those registered voters
        who are unable to take time off on election day to vote, those without transportation to polling locations,
        those who are out of town, those who may be intimidated by the polling location.  Mail-in voting is a solution
        for the few (relative to those able to vote in person).
    </p>
    <p>
        The attack surface is greatly increased. Most of which cannot be adequately addressed.
    </p>

    <h2>Voting from the grave</h2>
    <p>
        Dead voters and voters no longer living in the State must be removed from the registraton list.  One would
        think States would pursue this diligently, however, recent elections have revealed that States are reluctant
        to update their lists.  This has resulted in voters voting from their grave and also voters casting votes
        in multiple states. While the actual number of votes cast in such a manner might be negligible, over time, it might not be negligible.
    </p>
    <p>
        The fact that States appear reluctant to close this attack vector reveals a more serious
        issue with mail-in voting.  It facilitates those who are trusted at the State level to ensure the integrity of the
        elections to purposely corrupt the election process.  There is not a arbitor at the State level that will ensure
        the State has not purposely allowed the election process to be corrupt.
    </p>

    <h2>Ballots can be mailed to all voters.</h2>
    <p>
        The practice of mailing all register voters ballots is a practice that enables harvesting of ballots.  The attack vector
        is scalable.  Ballots can be intercepted in the mail pipeline without any detection.  Those voters wishing to vote by mail
        can simply call and ask for a ballot because they never received one at the expected time.  They can even call to request a
        replacement ballot even if they received the first one.  They can submit both by signing the signature left and right handed.
    </p>
    <p>
        Since mail-in ballots are not unique to the registered voter, ballots really don't even need to be harvested.  They can simply
        be duplicated, fraudulently completed and signed with signatures of people who have registered to vote.
    </p>

    <h2>Signature Verification on Mail-in ballots</h2>
    <p>
        This is a joke and is not a credible form of validation in the context of mail-in ballots.  The requirement is that each mail-in
        ballot is signed by the registered voter.  The added requirement is that the signature name be printed so that it is legible.  Hence
        the printed name could be the name of a deceased individual and a forged signature.  Since the State or counting location does
        not have a signature to compare against, the only thing that can be verified is that the signature appears to be the name that is
        printed.  This is a joke and is not a serious attempt to enforce election integrity.
    </p>
    <p>
        The reality is that mail-in ballots are mailed to a central location.  It is conceivable that there is a single printed list of
        registered voters that can be used to look up the name printed name on each mail-in ballot for the purpose of placing a check next to
        it to prevent that name from being used multiple times.  Even if that were the process, there could only be one list and not multiple
        list (so that multiple mail-in ballots can be checked).  If there were a couple dozen or even hundred mail-in ballots, that
        might be doable, but for thousands or millions, even this simple level of verification is not possible.  One might argue that is doesn't
        have to be a paper list, it could be a series of computers linked to a central server.  Then we have suddenly introduced an even
        greater attack vector.  Electronic fraud.
    </p>
    <h2>Ballot Injection</h2>
    <p>
        Forget harvesting, Since ballots can simply be printed and distributed, the most brazen attack vector is to simply print their own
        ballots and inject them directly through the mail system.  It takes a single bad actor in the mail system to enable a pallot of fradulent
        ballots to be delivered to the vote counting station.
        </p>
        <h2>Multiple scanning</h2>
    <p>
        Ballots are counted by running through a scanner.  A poll worker can rescan batches of ballots undetected without attracting attention.
        Ballots can even be scanned after hours in the absense of poll watchers.
    </p>
    <h2>Lack of Remedy</h2>
    <p>
        Mail-in voting is an extension of in-person voting which is essentially a manual process.  Every single attack vector enabled by mail-in
        voting exists because verification and a defense against the vector would need to be a manual defense.  That means non-partisian watchers
        at each step in a ballot chain of custody.  The mail-in ballot process doesn't have a definable chain of custody.  When there are more ballots
        than registered voters, there was fraud, but there is not way to identify the fraudulent ballots and remove them from the count totals
    </p>
    <h2>If a ballot can be counted, it will be counted</h2>
    <p>
        Mail-in ballots is simple an invitation for fraud.  Those advocating it seek to steal elections.  There can be no other interpretation to such
        a policy.
    </p>
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="./InPerson">< Prev</a>
            </div>
            <div class="col">
                <a href="./InternetVoting">Next ></a>
            </div>
        </div>
    </div>    
</div>