@page
@model ElectionWebsite.Pages.Requirements.AuditModel
@{
}


<div class="text-left">
    <h1 class="display-4">Audit</h1>
    <p>
        In Construction
    </p>
    <p>
        This page will list requirements to for a robust audit that will be able to discover fraudulent ballots as well as remedy the vote count when
        fraudulent ballots are discovered.
    </p>
</div>