@page
@model ElectionWebsite.Pages.Requirements.RegistrationModel
@{
}

<div class="text-left">
    <h1 class="display-4">Getting Ballots to voting app</h1>
    <p>
        In Construction
    </p>
    <p>
        This page will list requirements to get the ballot to the voting app.
    </p>
</div>