@page
@model ElectionWebsite.Pages.Requirements.VotingAppModel
@{
}

<div class="text-center">
    <h1 class="display-4">Audit</h1>
    <p>
        In Construction
    </p>
    <p>
        This page will list requirements to the voting app middle-ware.  It is not really required to prove that E2E-VIV is possible.  It is a 
        UI spec for what would be expected from the voting app.
    </p>
</div>