<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="10.1.1" targetFramework="net472" />
  <package id="DlibDotNet" version="19.21.0.20201122" targetFramework="net472" />
  <package id="Emgu.CV" version="4.5.1.4349" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="4.0.2" targetFramework="net472" />
  <package id="Microsoft.Expression.Encoder" version="4.0.4276.3" targetFramework="net472" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.18362.2005" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="OpenCvSharp4" version="4.5.1.20201229" targetFramework="net472" />
  <package id="OpenCvSharp4.runtime.win" version="4.5.1.20201229" targetFramework="net472" />
  <package id="OpenCvSharp4.Windows" version="4.5.1.20201229" targetFramework="net472" />
  <package id="OpenCvSharp4.WpfExtensions" version="4.5.1.20201229" targetFramework="net472" />
  <package id="OpenTK" version="1.1.2225.0" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="1.1.2225.0" targetFramework="net472" />
  <package id="QRCoder" version="1.4.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Drawing.Common" version="5.0.0" targetFramework="net472" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime" version="4.6.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.6.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="WpfWebcamControl" version="3.3.1" targetFramework="net472" />
  <package id="WriteableBitmapEx" version="1.6.7" targetFramework="net472" />
  <package id="ZedGraph" version="5.1.5" targetFramework="net472" />
</packages>